<!DOCTYPE html>
<html>

<head>
    <title>Taxi UI</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <center>
        <h1>Driver Profile UI</h1>
    </center>
    <div>
        <center>
            <form id="driverForm">
                <select style="width:50%; height:30px;" id="bookingStatus">
                    <option value="confirmed">Confirmed</option>
                    <option value="cancel">Cancel</option>
                </select>
                <br/>
                <br/>
                <br/>
                <input style="color:blueviolet; width:20%; height:40px;" type="button" name="submit" value="Send" id="confirm">
            </form>
        </center>

    </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js" type="text/javascript"></script>

    <script>
        const socket = io();

        socket.on("connect", () => {
            console.log(socket.id)


            const driverCurrentData = {
                socketID: socket.id,
                locationID: "5a8ec147f36d286fea33cdc0"
            };

            fetch(`/api/driverLocationSocket/${driverCurrentData.locationID}`, {
                method: 'PUT',
                body: JSON.stringify(driverCurrentData),
                headers: new Headers({
                    'Content-Type': 'application/json'
                })
            }).then(res => {
                if (res.ok) console.log("Add Driver location socket")
                else console.log("Error", res)
            }).catch(err => console.error('Failed fetching Driver Location Socket'))

            // Emitted by user on random nearby driver
            const driverRequest = socket.id + "driverRequest";

            socket.on(driverRequest, (passengerData) => {
                if (passengerData) {
                    console.log('Passenger Looking for a Ride', passengerData);
                    document.getElementById("confirm")
                        .addEventListener("click", (e) => {
                            let status = document.getElementById("bookingStatus").value;
                            let payload = {
                                driverID: "5a8ebe85f36d286fea33cc81",
                                passengerID: passengerData._id,
                                status: status
                            }

                            fetch(`/api/bookings/${passengerData._id}`, {
                                method: 'PUT',
                                body: JSON.stringify(payload),
                                headers: new Headers({
                                    'Content-Type': 'application/json'
                                })
                            }).then(res => {
                                if (res) console.log("Confirmed Booking")
                                else console.log("Error ", res)
                            }).catch(err => console.error("Failed Booking"))

                        });
                }
            });

            socket.on("trackDriver", location => {
                var driverMovement = [{
                    lat: 60.155137,
                    long: 24.942501
                },
                {
                    lat: 60.156728,
                    long: 24.941857
                },
                {
                    lat: 60.158266,
                    long: 24.940977
                },
                {
                    lat: 60.159825,
                    long: 24.942158
                },
                {
                    lat: 60.161149,
                    long: 24.942265
                },
                {
                    lat: 60.164963,
                    long: 24.939550
                },
                {
                    lat: 60.168513,
                    long: 24.934624
                },
                {
                    lat: 60.169890,
                    long: 24.938307
                }];

                const index = 0;
                const interval = setInterval(() => {
                    let movementObj = driverMovement[index++];
                    if (index === driverMovement.length) {
                        clearInterval(interval);
                        console.log(index);
                    }

                    let driverCurrentLocation = {
                        "locationId": location._id,
                        "latitude": movementObj.lat,
                        "longitude": movementObj.lng
                    }

                    fetch(`/api/driverLocation/${location._id}`, {
                        method: 'PUT',
                        body: JSON.stringify(driverCurrentLocation),
                        headers: new Headers({
                            'Content-Type': 'application/json'
                        })
                    }).then(res => {
                        if (res) console.log("Driver Location updated")
                        else console.log("Error:", res)
                    }, 5000)
                })
            })

        })
    </script>